@{
    ViewData["Title"] = "MessageRoleList";
}

@model AppUserRoleModel
<div class="page-wrapper">
    <!-- content -->
    <div class="content container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="card">
                            <div class="page-title">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="Page-title">Role</div>
                                    </div>
                                    <div class="form-group custom-mt-form-group col-md-2" style="margin-left:30px;">
                                        <select id="userrole" class="form-control" asp-for="Role">
                                           
                                            @foreach (var elm in Model.IdentityAllRole)
                                            {
                                                <option>@elm</option>
                                            }
                                        </select>
                                        <label class="control-label">Role</label><i class="bar"></i>
                                    </div>
                                    <div class="form-group custom-mt-form-group col-md-2" style="margin-left:30px;">
                                        <select asp-for="Holding" id="Holding">
                                                @foreach (var holding in Model.Holdings)
                                                {
                                                    <option>@holding.Name</option>
                                                }
                                        </select>
                                        <span asp-validation-for="Holding"></span>
                                        <label class="control-label">Holding</label><i class="bar"></i>
                                    </div>
                                    <div class="form-group custom-mt-form-group col-md-2" style="margin-left:30px;">
                                        <select asp-for="Company" id="companyName">
                                            <option></option>
                                        </select>
                                        <span asp-validation-for="Company"></span>
                                        <label class="control-label">Company</label><i class="bar"></i>
                                    </div>
                                    <div class="form-group custom-mt-form-group col-md-2" style="margin-left:30px;">
                                        <select asp-for="Emporium" id="emporiaName">
                                            <option></option>
                                        </select>
                                        <span asp-validation-for="Emporium"></span>
                                        <label class="control-label">Emporia</label><i class="bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Number</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var elm in Model.MessageReciurments)
                                        {
                                            <tr>
                                                <td>@elm.FirstName</td>
                                                <td>@elm.SecondName</td>
                                                <td>@elm.Email</td>
                                                <td>@elm.PhoneNumber</td>
                                                <td>
                                                    <button class="btn btn-primary" type="submit" asp-route-UserId ="@elm.EmployeeId">Rol Bagla</button>
                                                    <a asp-area="Admin" asp-controller="Panel" asp-action="DeleteMessageRole" asp-route-id="@elm.EmployeeId" class="btn btn-primary">Del</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/company_emporium_position_add_change.js"></script>




