
@{
    ViewData["Title"] = "EmployeePositionTable";
}

@using HrPayroll.Areas.Admin.EmployeeModel
@model List<MenecerEmployeeBonusModel>
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase">Data Tables</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-block">
                        <table class="datatable table table-stripped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Emporium</th>
                                    <th>Position</th>
                                    <th>Start Date</th>
                                    <th>Salary</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var bonus in Model)
                                {
                                <tr>
                                    <td>@bonus.Name</td>
                                    <td>@bonus.Emporium</td>
                                    <td>@bonus.Position</td>
                                    <td>@bonus.StartDate.ToString("dd.MM.yyyy")</td>
                                    <td>@bonus.Bonus</td>
                                    <td class="btn btn-success bonus-table"><a asp-action="BonusEdit" asp-controller="Menecer" asp-area="Admin" asp-route-id="@bonus.EmployeeId">Edit</a></td>
                                    @if (User.IsInRole("Departament"))
                                    {
                                        <td class="btn btn-danger bonus-table"><a asp-action="BonusDelete" asp-controller="Menecer" asp-area="Admin" asp-route-id="@bonus.EmployeeId">Del</a></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/tagsinput.js"></script>
}

