
@{
    ViewData["Title"] = "Profil";
}
@model AdminModel
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <h5 class="text-uppercase">my Profile</h5>
                </div>
            </div>
        </div>
        <div class="card-box m-b-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="~/img/@Model.Image" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0">Name: @Model.FirstName</h3>
                                    </div>
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0">Surname: @Model.SecondName</h3>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href="#">@Model.PhoneNumber</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href="#"><span class="__cf_email__" data-cfemail="9ff5faf9f9faede6f2e8f0f1f8dffae7fef2eff3fab1fcf0f2">@Model.Email</span></a></span>
                                        </li>
                                        <li>
                                            <span class="title">Birthday:</span>
                                            <span class="text">@Model.Birthday.ToString("MM/dd/yyyy")</span>
                                        </li>
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text">@Model.Address</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

